.main-container {
  display: flex; /* Utiliza flexbox para organizar el layout */
  height: 87vh; /* Ocupa el 100% de la altura de la ventana */
}

.content {
  flex-grow: 1; /* El contenido ocupa el resto del espacio disponible */
  padding: 20px; /* Espaciado interno del contenido */
  overflow-y: auto; /* Permite scroll si el contenido es demasiado */
  background-color: #f8f9fa; /* Cambia este color según tu preferencia */
}